@model IIIProject_travel.ViewModel.CLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入 | Jouta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>

    <div class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light header" id="main">
            <div class="container">
                <a class="navbar-brand" href="main.html">
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @*@if (Model == null)
        {*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form method="post">
            <div id="background">
                <!-- 註冊box -->
                <div id="login-box">
                    <div class="left">
                        <h2>登入</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input type="text" name="txtEmail" placeholder="信箱" />
                        @Html.ValidationMessageFor(model => model.txtEmail, "", new { @class = "text-danger" })
                        <input type="password" name="txtPassword" placeholder="密碼" />
                        @Html.ValidationMessageFor(model => model.txtPassword, "", new { @class = "text-danger" })
                        <br />
                        @Html.DisplayTextFor(model=> model.txtRememberMe)
                        @Html.CheckBoxFor(model => model.remember)
                        <br />
                        <input type="submit" name="signup_submit" value="登入" />
                    </div>

                    <div class="right">
                        <span class="loginwith">Sign in with<br />social network</span>

                        <button class="social-signin facebook">Log in with facebook</button>
                        <button class="social-signin twitter">Log in with Twitter</button>
                        <button class="social-signin google">Log in with Google+</button>
                    </div>
                    <div class="or">OR</div>
                </div>
            </div>
        </form>
    }

    @*}*@

    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Content/js/jquery-3.5.1.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/navbar.js"></script>

    <script>
        document.querySelector("#login_show").click();
    </script>
</body>

</html>
