@model IEnumerable<tActivity>
@{
    Layout = null;
    int count = 0;
    string combine_readmore = "";
    string combine_join = "";
    string combine_msg = "";
    var NowMember = (tMember)Session["member"]; //注意Session抓到的資料，其資料內容為取得該Session當下的資料內容，
                                                //因此若有修改過資料庫的資料，就要改藉由Session的會員編號
                                                //去抓取現在資料庫的資料，否則會一直撈到不變的Session資料
    tMember targetMember = (new dbJoutaEntities()).tMember.FirstOrDefault(x => x.f會員編號 == NowMember.f會員編號);
}

<!-- read more視窗控制頭1 -->
@foreach (var item in Model)
{
    count++;
    combine_readmore = "exampleModal" + count;
    combine_join = "Join" + count;
    combine_msg = "Msg" + count;
    string iflikeit = "11.png";
    int pos = -1;
    if (!string.IsNullOrEmpty(targetMember.f會員收藏的活動編號))
    {
        var analyze = targetMember.f會員收藏的活動編號.Split(',');
        pos = Array.IndexOf(analyze, item.f活動編號.ToString());
        if (pos > -1)
        {
            iflikeit = "14.png";
        }
    }
<div class="modal fade combine_msg" id="@combine_msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade combine_join" id="@combine_join" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade combine_readmore" id="@combine_readmore" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog change-max-width-1400" role="document">
            <div class="modal-content">
                <div class="modal-header  border-main-color">
                    <h5 class="modal-title" id="exampleModalLabel"><span style="font-weight:bolder;"> @item.f活動標題</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 互動文章 -->
                    <div class="container-fluid">
                        <div class="row m-0 mb-3 justify-content-around">
                            <span>揪團日期： <span>@item.f活動發起日期</span></span>
                            <span>活動日期： <span>@item.f活動開始時間</span></span>
                            <span>入團截止： <span>@item.f活動結束時間</span></span>
                            <span><img src="~/Content/images/17.png" alt="">@item.f活動分類</span>
                            <span><img src="~/Content/images/03.png" alt="">@item.f活動地區</span>
                            <span><img src="~/Content/images/04.png" alt="">@item.f活動預算</span>
                            <span><img src="~/Content/images/06.png" class="" alt=""><span ToUpdateVC="@item.f活動編號">@item.f活動瀏覽次數</span></span>
                            <span><img src="~/Content/images/05.png" class="updateGoodCounts" alt="">@*@item.f活動讚數*@</span>

                            <span class="col-auto"><img style="cursor: pointer;" class="likeIt" likeIndex="@item.f活動編號" src="~/Content/images/@iflikeit" alt=""></span>
                        </div>
                        @*<hr />*@
                        <div class="row">
                            <img src="~/Content/images/@item.f活動團圖" alt="" class="mx-auto" style="width: 60%;margin: auto;">
                        </div>
                        <br />
                        <hr />
                        <br />

                        <div class="row align-items-center">
                            <div id="UserBlock">
                                <p><img src="~/Content/images/16.png" class="pb-1" alt="">@item.tMember.f會員稱號</p>
                                <img src="~/Content/images/@item.tMember.f會員大頭貼" alt="" class="col-auto" style="width: 300px;">
                                <p>@item.tMember.f會員名稱</p>
                                <p>團主評分:@item.tMember.f會員評分 </p>
                            </div>
                            <div class="change-max-width-1000 ml-4">
                                <div class="row align-items-center m-0 textBox">
                                    @item.f活動內容
                                </div>                            
                            </div>
                        </div>
                        <br />

                        @if (Session["member"] != null)
                        {
                            <div class="container">
                                <div class="row   justify-content-around">
                                    <button class="btn btn-block mr-1  p-1 FeelGood" style="background-color:#FFE0B2;" target="@item.f活動編號">
                                        <img src="~/Content/images/05.png" class="pb-1 ">覺得讚
                                    </button>
                                    <button class="btn btn-block mr-1  p-1" data-toggle="modal" data-target="#@combine_join" style="background-color:#FFE0B2 ;">
                                        <img src="~/Content/images/10.png" class="pb-1" alt="">想加入
                                    </button>
                                    <div style="cursor: pointer;">
                                        <button class="btn btn-block mr-1  p-1" data-toggle="modal" data-target="#@combine_msg" style="background-color:#FFE0B2 ;">
                                            <img src="~/Content/images/12.png" alt="">留言區
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- 互動文章 -->
                    <div class="modal-footer   mt-3  border-main-color">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- read more視窗控制尾 -->

    <!-- -------------文章區頭-------------- -->
    <div class="row Travel_border align-items-center p-3 pl-4">
        <div class="container-fluid">
            <div class="row m-0 mb-4   justify-content-between">
                <div class="pl-1">
                    <span style="cursor: pointer;">
                        <img src="~/Content/images/09.png" alt="">@item.tMember.f會員名稱
                    </span>
                </div>
                <div class="RWD_1851">
                    <span>揪團日期： <span>@item.f活動發起日期</span></span>
                    <span>&nbsp; &nbsp;</span>
                    <span>活動日期： <span>@item.f活動開始時間</span></span>
                    <span>&nbsp; &nbsp;</span>
                    <span>入團截止： <span>@item.f活動結束時間</span></span>
                </div>
                <div class="row ">
                    <div class="dropdown RWD_1850 pr-3">
                        <button class="btn btn-secondary dropdown-toggle RWD_1850 border-0 p-0 pl-2 pr-2" style="height:30px!important;" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item drop-site1" style="cursor: pointer;" type="button">
                                <span>揪團日期： <span>@item.f活動發起日期</span></span>
                            </button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item drop-site2" style="cursor: pointer;" type="button">
                                <span>活動日期： <span>@item.f活動開始時間</span></span>
                            </button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item drop-site3" style="cursor: pointer;" type="button">
                                <span>入團截止： <span>@item.f活動結束時間</span></span>
                            </button>
                        </div>
                    </div>
                    <div class="p-0 pr-2">
                        <img style="cursor: pointer;" class="pb-1 likeIt" likeIndex="@item.f活動編號" src="~/Content/images/@iflikeit" alt="">
                    </div>
                </div>
                @*<div class="col-12"><hr /></div>*@
            </div>
        </div>


        <div class="row pl-2 flex-wrap-reverse mt-2" style="width:100%;">

            <div class="mb-3 pl-4 pr-4 mx-auto  ViewCounts" updateVC="@item.f活動編號" style="cursor: pointer;width:66%;" data-toggle="modal" data-target="#@combine_readmore">
                <div class="" style="font-weight:bolder;"> <p class="mb-4   content-title">@item.f活動標題</p></div>

                <span class="content" style="font-size: 16px;line-height:1.8;">
                    @item.f活動內容
                </span>

            </div>

            <img src="~/Content/images/@item.f活動團圖" alt="" class="col-xl-auto col-6    mx-auto" style="width: 30%;">

        </div>
        <div class="container mt-2">
            <div class="row   justify-content-between  mt-2">
                <div>
                    <img src="~/Content/images/17.png" alt="">@item.f活動分類
                    <img src="~/Content/images/03.png" alt="">@item.f活動地區
                    <img src="~/Content/images/04.png" alt="">@item.f活動預算
                    
                        <img src="~/Content/images/06.png" class="" alt=""><span  ToUpdateVC="@item.f活動編號">@item.f活動瀏覽次數</span>
                            <img src="~/Content/images/05.png" class="updateGoodCounts" alt="">@*@item.f活動讚數*@
</div>
                <div style="cursor: pointer;">
                    <img src="~/Content/images/12.png" alt="">留言
                </div>
            </div>
        </div>
    </div>
    <!-- -------------文章分割線-------------- -->
}