@model tActivity
@{
    Layout = null;
    int pos = -1;
    dbJoutaEntities db = new dbJoutaEntities();
    string iflikeit = "11.png";
    var NowMember = (tMember)Session["member"];
    var targetMember = db.tMember.FirstOrDefault(x => x.f會員編號 == NowMember.f會員編號);
    if (!string.IsNullOrEmpty(targetMember.f會員收藏的活動編號))
    {
        var analyze = targetMember.f會員收藏的活動編號.Split(',');
        pos = Array.IndexOf(analyze, Model.f活動編號.ToString());
        if (pos > -1)
        {
            iflikeit = "14.png";
        }
    }
}

<div class="modal fade combine_readmore" id="calendarEventShow" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog change-max-width-1400" role="document">
        <div class="modal-content">
            <div class="modal-header  border-main-color">
                <h5 class="modal-title" id="exampleModalLabel"><span style="font-weight:bolder;"> @Model.f活動標題</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 互動文章 -->
                <div class="container-fluid">
                    <div class="row m-0 mb-3 justify-content-around">
                        <span>活動日期： <span>@Model.f活動開始時間</span></span>
                        <span>結束日期： <span>@Model.f活動結束時間</span></span>
                        <span>入團截止： <span>@Model.f活動招募截止時間</span></span>
                        <span><img src="~/Content/images/17.png" alt="">@Model.f活動分類</span>
                        <span><img src="~/Content/images/03.png" alt="">@Model.f活動地區</span>
                        <span><img src="~/Content/images/04.png" alt="">@Model.f活動預算</span>
                        <span><img src="~/Content/images/06.png" class="" alt=""><span ToUpdateVC="@Model.f活動編號">@Model.f活動瀏覽次數</span></span>
                        <span><img src="~/Content/images/05.png" class="" alt=""><span ToUpdateGC="@Model.f活動編號">@Model.f活動讚數</span></span>
                        @if (Session["member"] != null)
                        {
                            <span class="col-auto"><img style="cursor: pointer;" class="likeIt" likeIndex="@Model.f活動編號" src="~/Content/images/@iflikeit" alt=""></span>
                        }
                    </div>
                    @*<hr />*@
                    <div class="row">
                        <img src="~/Content/images/@Model.f活動團圖" alt="" class="mx-auto" style="width: 60%;margin: auto;">
                    </div>
                    <br />
                    <hr />
                    <br />

                    <div class="row align-items-center">
                        <div id="UserBlock">
                            <p><img src="~/Content/images/16.png" class="pb-1" alt="">@Model.tMember.f會員稱號</p>
                            <img src="~/Content/images/@Model.tMember.f會員大頭貼" alt="" class="col-auto" style="width: 300px;">
                            <p>@Model.tMember.f會員名稱</p>
                            <p>團主評分:@Model.tMember.f會員評分 </p>
                        </div>
                        <div class="change-max-width-1000 ml-4">
                            <div class="row align-items-center m-0 ml-2 textBox">
                                @Model.f活動內容
                            </div>
                        </div>
                    </div>
                    <br />

                    @if (Session["member"] != null)
                    {
                        <div class="container">
                            <div class="row   justify-content-around">
                                <button class="btn btn-block mr-1  p-1 FeelGood" style="background-color:#FFE0B2;" target="@Model.f活動編號">
                                    <img src="~/Content/images/05.png" class="pb-1 ">覺得讚
                                </button>
                                <button class="btn btn-block mr-1  p-1" data-toggle="modal" data-target="#combine_join" style="background-color:#FFE0B2 ;">
                                    <img src="~/Content/images/10.png" class="pb-1" alt="">想加入
                                </button>
                                <button class="btn btn-block mr-1  p-1" data-toggle="modal" data-target="#combine_score" style="background-color:#FFE0B2 ;">
                                    <img src="~/Content/images/10.png" class="pb-1" alt="">給分數
                                </button>
                                <div style="cursor: pointer;">
                                    <button class="btn btn-block mr-1  p-1" data-toggle="modal" data-target="#combine_msg" style="background-color:#FFE0B2 ;">
                                        <img src="~/Content/images/12.png" alt="">留言區
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- 互動文章 -->
                <div class="modal-footer   mt-3  border-main-color">
                        @Html.ActionLink("刪除", "Delete", "Travel", new { id = Model.f活動編號 }, new { @class = "btn btn-secondary" })
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>

            </div>

        </div>
    </div>
</div>
