@model IIIProject_travel.ViewModel.CMsg
@{
    Layout = null;//f
}

@if (Model.Msgs.Length < 1)
{
    <h2 class="mx-auto ml-2">暫無留言</h2>
}
else
{
    for(int i = 0; i<= Model.Msgs.Length-1;i++)
    {
        if (string.IsNullOrEmpty(Model.MsgPic[i]))
        {
            continue;
        }
        //判別對象是否在黑名單
        if (Model.BlackList.Length > 1)
        {
            if (Array.IndexOf(Model.BlackList, Model.MsgID[i]) > -1)
            {
                continue;
            }
        }

        <div class="row justify-content-between   mr-1 ml-4">
            <div class="row the_msg_block">
                <button class="button btn-secondary jouta_black_list" member_id="@Model.MsgID[i]" act_target="msg" act_id="@Model.ActID">加入黑名單</button>
                <a href="@Url.Action("otherprofile", "Profile", new { id = Model.MsgID[i] })">

                            <img src="~/Content/images/@Model.MsgPic[i]" width="34" height="34">

                </a>
                <div class="m-0 the_msgs">@Model.Msgs[i]</div>
            </div>
            <div class="pr-5 mr-3">@Model.MsgsTime[i]</div>
        </div>
        <br />

    }
}