@model IIIProject_travel.tMember

@{
    ViewBag.Title = "e修改";
}
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Dashboard Template · Bootstrap 4 繁體中文手冊 [六角學院譯]</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap-4.2.1-dist/css/bootstrap.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/css/後台css/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                首頁 <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","後台會員")">
                                <span data-feather="users"></span>
                                會員列表
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                旅遊列表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                飯局列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                文章列表
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                意見列表
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


                <h2>修改會員</h2>
                <div class="table-responsive">

                    <form method="post">

                        <input type="hidden" name="f會員編號" value="@Model.f會員編號" />
                        <div class="row">
                            <div class="col">
                                <p>
                                    姓名<br />
                                    <input type="text" name="f會員名稱" value="@Model.f會員名稱" />
                                </p>
                                <p>
                                    評分<br />
                                    <input type="text" name="f會員評分" value="@Model.f會員評分" />
                                </p>
                                <p>
                                    稱號<br />
                                    <input type="text" name="f會員稱號" value="@Model.f會員稱號" />
                                </p>
                                <p>
                                    大頭貼<br />
                                    <input type="text" name="f會員大頭貼" value="@Model.f會員大頭貼" />
                                </p>
                                <p>
                                    帳號<br />
                                    <input type="text" name="f會員帳號" value="@Model.f會員帳號" />
                                </p>
                                <p>
                                    密碼<br />
                                    <input type="text" name="f會員密碼" value="@Model.f會員密碼" />
                                </p>
                                <p>
                                    電子郵件<br />
                                    <input type="text" name="f電子郵件" value="@Model.f電子郵件" />
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    手機<br />
                                    <input type="text" name="f手機" value="@Model.f手機" />
                                </p>
                                <p>
                                    電話<br />
                                    <input type="text" name="f會員密碼" value="@Model.f電話" />
                                </p>
                                <p>
                                    生日<br />
                                    <input type="text" name="f生日" value="@Model.f生日" />
                                </p>
                                <p>
                                    自我介紹<br />
                                    <input type="text" name="f會員密碼" value="@Model.f自我介紹" />
                                </p>
                                <p>
                                    暱稱<br />
                                    <input type="text" name="f暱稱" value="@Model.f暱稱" />
                                </p>
                                <p>
                                    性別<br />
                                    <input type="text" name="f性別" value="@Model.f性別" />
                                </p>
                                <p>
                                    興趣<br />
                                    <input type="text" name="f興趣" value="@Model.f興趣" />
                                </p>

                            </div>

                        </div>
                        <p>
                            <input type="submit" value="送出" />
                        </p>
                    </form>

                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/Content/js/後台js/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/js/後台js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/Content/js/後台js/dashboard.js"></script>
</body>

</html>