@model IEnumerable<IIIProject_travel.tMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Find By Name/Gerder: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
    <tr>
        <th>
            @Html.ActionLink("名", "Index", new { sortOrder = ViewBag.名稱排序 })
        </th>
        <th>
            @Html.ActionLink("電子", "Index", new { sortOrder = ViewBag.電子郵件排序 })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = ViewBag.手機排序 })
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mt => item.f會員名稱)
            </td>
            <td>
                @Html.DisplayFor(mt => item.f會員電子郵件)
            </td>
            <td>
                @Html.DisplayFor(mt => item.f會員手機)
            </td>

        </tr>
    }
</table>