@model IIIProject_travel.ViewModel.CMember
@{
    Layout = null;
    var x = (tMember)Session["member"];
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/otherprofile.css">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*@
</head>

<body>
    <div class="container-fluid topbanner">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("聯絡我們", "New", "聯絡我們", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                        <li class="nav-item">@Html.ActionLink("關於我們", "About", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        @if (Session["member"] != null)
                        {

                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile")</li>
                            @*<li class="nav-item">
                                    <img src="@ViewData["Img"]" alt="img" width="30" height="30" style="border:2px solid green;" />
                                </li>*@
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {

                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="~/Content/images/@Model.tMembers.f會員大頭貼" alt="@Model.tMembers.f會員名稱" class="">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">@Model.tMembers.f會員名稱</h3>
                <div id="limit" >
                    <div id="isadmin">
                        <span class="country">身分:&nbsp;&nbsp;</span>
                        @if (Model.tMembers.isAdmin == false)
                        {
                            <p class="state">使用者</p>
                        }
                        else
                        {
                            <p class="state">管理員</p>
                        }
                    </div>
                    
                    <div>  <button type="button" id="followbtn" class="btn btn-primary btn-sm">追蹤</button></div>
                   
                </div>
            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fas fa-bell"></i>
                    <span class="alert-message"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <div class="main-bd">
            <div class="col-lg-3 left-side">
                <div class="profile-side">
                    <p class="mobile-no">
                        @if (Model.tMembers.f會員手機 == null)
                        {
                            <i class="fa fa-phone"></i> @:09-xxxxxxxx
                        }
                        else
                        {
                            <i class="fa fa-phone"></i>@Model.tMembers.f會員手機
                        }
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope">
                        </i>@Model.tMembers.f會員電子郵件
                    </p>
                    <div class="user-bio">
                        <p class="bio">
                            @Model.tMembers.f會員自我介紹
                        </p>
                    </div>
                    <div class="profile-btn">

                        <button class="chatbtn"><i class="fa fa-comment">@Html.ActionLink("Chat", "Chat", "Profile", new { })</i></button>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">@Model.tMembers.f會員評分</h3>
                        <div class="rate">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            @if (Model.tMembers.f會員評分人數 == null)
                            {
                                <span class="no-user"><span>0</span>&nbsp;&nbsp;reviews</span>
                            }
                            else
                            {
                                <span class="no-user"><span>@Model.tMembers.f會員評分人數</span>&nbsp;&nbsp;reviews</span>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 right-side ml-4">
                <div class="tab_nav">
                    <ul>
                        <li class="user active" onclick="tabs(0)">個人檔案</li>
                        <li class="user" onclick="tabs(1)">我的發文</li>
                        <li class="user" onclick="tabs(2)">參加活動</li>
                        <li class="user" onclick="tabs(3)">關注活動</li>
                        <li class="user" onclick="tabs(4)">追蹤團主</li>
                        <li class="user" onclick="tabs(5)">我的開團</li>
                        <li class="user" onclick="tabs(6)">歷史紀錄</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-detail tab_info">
                        <h1 id="title">個人檔案</h1>
                        <form>
                            <h6 class="profiletag">信箱</h6>
                            <input type="email" size="20" placeholder="@Model.tMembers.f會員電子郵件" name="txtEmail" disabled>

                            <h6 class="profiletag">密碼</h6>
                            <input type="password" size="10" placeholder="@Model.tMembers.f會員密碼" name="txtPassword" disabled>

                            <h6 class="profiletag">會員名稱</h6>
                            <input type="text" size="20" name="txtNickName" placeholder="@Model.tMembers.f會員名稱" disabled>

                            <h6 class="profiletag">生日</h6>
                            <input type="text" size="50" name="interest" placeholder="@Model.tMembers.f會員生日" disabled>

                            <h6 class="profiletag">興趣</h6>
                            <input type="text" size="50" name="location" placeholder="@Model.tMembers.f會員興趣" disabled>

                            <h6 class="profiletag">自我介紹</h6>
                            <textarea id="intro" rows="5" cols="50" name="introduction" disabled>@Model.tMembers.f會員自我介紹</textarea><br>
                        </form>
                    </div>
                </div>
                <div class="profile-posts tab_info" id="myPost">
                    <h1>@Model.tMembers.f會員名稱 的發文</h1>
                    @if (Model.tMembers.f會員發起的活動編號 == null)
                    {
                        <p>無發文紀錄</p>
                    }
                    else
                    {
                        foreach (tActivity t in Model.tActivities)
                        {
                            <div class="card mb-4">
                                <img class="card-img-top" src="~/Content/images/@t.f活動團圖" alt="@t.f會員編號">
                                <div class="card-body">
                                    <h2 class="card-title">@t.f活動標題</h2>
                                    <p class="card-text">
                                        @t.f活動內容
                                    </p>
                                    <a class="nav-item">@Html.ActionLink("Read More", "BlogContent", "Blog", new { id = t.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                </div>
                                <div class="card-footer text-muted">

                                    <p class="pDateSection"> Posted on @t.f活動發起日期 </p>

                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="profile-event tab_info" id="myActivity">
                    <h1>參加活動</h1>
                    @if (Model.tMembers.f會員發起的活動編號 == null)
                    {
                        <p>無參加活動紀錄</p>
                    }
                    else
                    {
                        foreach (tActivity t in Model.tActivities)
                        {
                            <div class="card mb-3" style="max-width: 800px;">
                                <div class="row no-gutters">
                                    <div class="col-md-8 activityadjust">
                                        <div class="card-body" style="text-align:center">
                                            <h5 class="card-title"> @t.f活動標題</h5>
                                            <p class="card-text">@t.f活動內容</p>
                                            揪團者 :  <span style="cursor: pointer;">@t.tMember.f會員名稱</span>
                                            <p class="card-text">
                                                <small class="text-muted">@t.f活動開始時間</small>
                                            </p>
                                            <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = t.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                        </div>
                                        <div class="col-md-4">  <img src="~/Content/images/@t.f活動團圖" class="card-img activityphoto" alt="@t.f活動編號"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="profile-follow tab_info" id="myFollow">
                    <h1>關注活動</h1>
                    @if (Model.tMembers.f會員收藏的活動編號 == null)
                    {
                        <p>無關注紀錄</p>
                    }
                    else
                    {
                        foreach (tActivity t in Model.tActivities)
                        {
                            <div class="row pl-3">
                                <div class="content mb-3" style="cursor: pointer;width:70%;height: 150px;"
                                     data-toggle="modal" data-target="#exampleModal2">
                                    <h3 style="font-weight:bolder;"> @t.f活動標題</h3>
                                    <br>
                                    <p id="togglecontent" style="font-size: 13px;">
                                        @t.f活動內容
                                    </p>
                                </div>
                                <div>
                                    <img src="~/Content/images/@t.f活動團圖" id="imgdisplay" alt="" class="col-auto" style=" width: 30%;height: 150px;">
                                </div>

                            </div>
                        }
                    }

                </div>
                <div class="profile-follower tab_info" id="Follower">
                    <h1>追蹤團主</h1>
                    @*@if ()
                    {

                    } else
                    {

                    }*@
                    @foreach (tActivity t in Model.tActivities)
                    {
                        <div class="container">
                            <img src="~/Content/images/@t.tMember.f會員大頭貼" class="followpic" alt="@t.tMember.f會員名稱" width="350" height="250">
                            <div class="roww">
                                <h5 class="followname">Peipei 吳佩佩</h5>
                                <p class="folllowdis">
                                    是一個兒童職能治療師，因為擁有對生活的熱情，又不想被上下班打卡綁架，
                                    因此工作變得有些斜槓，目前擁有正職，但仍然經營...
                                </p>
                                <a href="profile.html" class="btn btn-warning">了解一下</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="profile-mygroup tab_info" id="mygroup">
                    <h1>@Model.tMembers.f會員名稱 的開團</h1>
                    @if (Model.tMembers.f會員發起的活動編號 == null)
                    {
                        <p>無開團紀錄</p>
                    }
                    else
                    {
                        foreach (tActivity t in Model.tActivities)
                        {
                            <div class="row  Travel_border align-items-center p-3">
                                <div class="container-fluid">
                                    <div class="row m-0 mb-3   justify-content-between" style="font-size: 16px;">
                                        <div class="pl-1">
                                            <img src="~/Content/images/@t.f活動團圖" alt="">
                                            <span>揪團者 :  <span style="cursor: pointer;" target="@x.f會員編號">@x.f會員名稱</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>揪團日： <span>@t.f活動發起日期</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>活動開始時間： <span>@t.f活動開始時間</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>活動結束時間： <span>@t.f活動結束時間</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pl-3">
                                    <div class="content mb-3" style="cursor: pointer;width:70%;height: 150px;"
                                         data-toggle="modal" data-target="#exampleModal2">
                                        <span style="font-weight:bolder;"> 龜山步道。墾丁私房景點｜不到半小時即攻頂。全方位飽覽恆春山海景</span>
                                        <br>
                                        <span id="togglecontent" style="font-size: 13px;"></span>

                                    </div>
                                    <img src="images/7.jpg" id="imgdisplay" alt="" class="col-auto" style="display:none; width: 30%;height: 150px;">
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="profile-history tab_info" id="history">
                    <h1>歷史紀錄</h1>
                    @if (Model.tMembers.f會員發起的活動編號 == null || Model.tMembers.f會員參加的活動編號 == null)
                    {
                        <p>無歷史紀錄</p>
                    }
                    else
                    {
                        foreach (tActivity t in Model.tActivities)
                        {
                            <div class="row  Travel_border align-items-center p-3">
                                <div class="container-fluid">
                                    <div class="row m-0 mb-3   justify-content-between" style="font-size: 16px;">
                                        <div class="pl-1">
                                            <img src="~/Content/images/@t.f活動團圖" alt="">
                                            <span>揪團者 :  <span style="cursor: pointer;">@x.f會員名稱</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>揪團日： <span>@t.f活動發起日期</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>活動開始時間： <span>@t.f活動開始時間</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                            <span>活動結束時間： <span>@t.f活動結束時間</span></span>
                                            <span>&nbsp; &nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pl-3">
                                    <div class="content mb-3" style="cursor: pointer;width:70%;height: 150px;"
                                         data-toggle="modal" data-target="#exampleModal2">
                                        <span style="font-weight:bolder;"> 龜山步道。墾丁私房景點｜不到半小時即攻頂。全方位飽覽恆春山海景</span>
                                        <br>
                                        <span id="togglecontent" style="font-size: 13px;"></span>

                                    </div>
                                    <img src="images/7.jpg" id="imgdisplay" alt="" class="col-auto" style="display:none; width: 30%;height: 150px;">
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/profile.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>