@model IIIProject_travel.ViewModel.CMember

@{
    Layout = null;
    var date = ViewBag.Date;
    var x = (tMember)Session["member"];
    dbJoutaEntities db = new dbJoutaEntities();

    var  post = from t in db.tActivity
                where t.f活動類型 == "文章" && t.f會員編號 == x.f會員編號
                select t;
    //var join = from t

    var attention = from t in db.tActivity.AsEnumerable()
                    where !string.IsNullOrEmpty(x.f會員收藏的活動編號) && x.f會員收藏的活動編號.Split(',').Contains(t.f活動編號.ToString())
                        select t;

    var part = from t in db.tActivity.AsEnumerable()
               where !string.IsNullOrEmpty(t.f活動開始時間) && DateTime.Parse(t.f活動開始時間) > DateTime.Now && x.f會員參加的活動編號.Split(',').Contains(t.f活動編號.ToString())
               select t;

    }





<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@x.f會員名稱 資料頁面 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/profile.css">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*@
</head>

<body>
    <div class="container-fluid topbanner">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("聯絡我們", "New", "聯絡我們", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                        <li class="nav-item">@Html.ActionLink("關於我們", "About", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        @if (Session["member"] != null)
                        {

                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile")</li>
                            @*<li class="nav-item">
                                    <img src="@ViewData["Img"]" alt="img" width="30" height="30" style="border:2px solid green;" />
                                </li>*@
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {

                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="~/Content/images/@x.f會員大頭貼" alt="" class="">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">@x.f會員名稱</h3>
                <div class="address">
                    <span class="country">身分:&nbsp;&nbsp;</span>
                    @if (x.isAdmin == false)
                    {
                        <p class="state">使用者</p>
                    }
                    else
                    {
                        <p class="state">管理員</p>
                    }
                </div>
            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fas fa-bell"></i>
                    <span class="alert-message"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <div class="main-bd">
            <div class="col-lg-3 left-side">
                <div class="profile-side">
                    <p class="mobile-no">
                        @if (x.f會員手機 == null)
                        {
                            <i class="fa fa-phone"></i> @:09-xxxxxxxx
                        }
                        else
                        {
                            <i class="fa fa-phone"></i>@x.f會員手機
                        }
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope"></i>@x.f會員電子郵件
                    </p>
                    <div class="user-bio">
                        <p class="bio"> @x.f會員自我介紹</p>
                    </div>
                    <div class="profile-btn">
                        <button class="chatbtn"><i class="fa fa-comment">@Html.ActionLink("Chat", "Chat", "Profile", new { }, new { @class = "fa fa-plus temp" })</i></button>
                        <button class="createbtn">
                            <i>@Html.ActionLink("Create", "Create", "Blog", new { }, new { @class = "fa fa-plus temp" })</i>
                        </button>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">@x.f會員評分</h3>
                        <div class="rate">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="no-user"><span>@x.f會員評分人數</span>&nbsp;&nbsp;reviews</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 right-side ml-4">
                <div class="tab_nav">
                    <ul>
                        <li class="user active" onclick="tabs(0)">個人檔案</li>
                        <li class="user" onclick="tabs(1)">我的發文</li>
                        <li class="user" onclick="tabs(2)">參加活動</li>
                        <li class="user" onclick="tabs(3)">關注活動</li>
                        <li class="user" onclick="tabs(4)">追蹤團主</li>
                        <li class="user" onclick="tabs(5)">歷史紀錄</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-detail tab_info">
                        <h1 id="title">個人檔案</h1>
                        @Html.BeginForm()
                        {
                    <form method="post" action="~/Profile/ProfileIndex">
                        <button type="button" class="btn btn-warning">編輯資料</button>
                        <h6 class="profiletag">會員編號</h6>
                        <input type="text" size="50" placeholder="@x.f會員編號" name="account" disabled>
                        <h6 class="profiletag">帳號</h6>
                        <input type="text" size="50" placeholder="@x.f會員帳號" name="passward" disabled>
                        <h6 class="profiletag">密碼</h6>
                        <input type="text" size="50" placeholder="@x.f會員密碼" name="nickname" disabled>
                        <h6 class="profiletag" id="nickname">會員名稱</h6>
                        <input type="text" size="50" name="age" placeholder="@x.f會員名稱">
                        <h6 class="profiletag">暱稱</h6>
                        <input type="text" size="50" name="birth" placeholder="@x.f會員暱稱">
                        <h6 class="profiletag">生日</h6>
                        <input type="text" size="50" name="interest" placeholder="@x.f會員生日">
                        <h6 class="profiletag">興趣</h6>
                        <input type="text" size="50" name="location" placeholder="@x.f會員興趣">
                        <h6 class="profiletag">自我介紹</h6>
                        <textarea id="intro" rows="5" cols="50" name="introduction">@x.f會員自我介紹</textarea><br>
                        <button type="submit" class="btn btn-warning">繳交</button>
                    </form>
                        }
                    </div>
                </div>
                <div class="profile-posts tab_info" id="myPost">
                    <h1>我的發文</h1>
                    @foreach (tActivity t in post)
                    {
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/images/@t.f活動團圖" class="card-img" alt="@t.f活動編號">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@t.f活動標題</h5>
                                        <p class="card-text">@t.f活動內容</p>
                                        <p class="card-text"><small class="text-muted">Posted on @t.f活動發起日期</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="profile-event tab_info" id="myActivity">
                    <h1>參加活動</h1>
                    @foreach (tActivity p in part)
                    {
                        <div class="card mb-3" style="max-width: 800px;">
                            <div class="row no-gutters">
                                <div class="col-md-8 activityadjust">
                                    <div class="card-body" style="text-align:center">
                                        <h5 class="card-title"> @p.f活動標題</h5>
                                        <p class="card-text">@p.f活動內容</p>
                                        揪團者 :  <span style="cursor: pointer;">@p.tMember.f會員名稱</span>
                                        <p class="card-text">
                                            <small class="text-muted">@p.f活動開始時間</small>
                                        </p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">來去看看</button>
                                    </div>
                                    <div class="col-md-4">  <img src="~/Content/images/@p.f活動團圖" class="card-img activityphoto" alt="@p.f活動編號"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class=" model-header">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                    揪團者 :  <span style="cursor: pointer;">@x.f會員名稱</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*<div class="modal fade combine_score" id="@combine_score" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog change-max-width-1420" role="document" style="padding-right: 17px !important;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@item.f活動標題 評分區</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div AddScore="@item.f活動編號" class="Score">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <img ScoreID="@i" isclick="false" ScoreTarget="@item.f活動編號" src="~/Content/images/Star.png" />
                                        }
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <span>
                                        <button type="button" class="btn btn-warning leaveScore" leaveScore="@item.f活動編號">送出</button>
                                        <button type="button" class="btn btn-secondary resetScore" resetScore="@item.f活動編號">重設</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@












                </div>
                <div class="profile-follow tab_info" id="myFollow">
                    <h1>關注活動</h1>
                    @foreach (tActivity t in attention)
                    {
                        <div class="card mb-3" style="max-width: 800px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/images/@t.f活動團圖" class="card-img" alt="@t.f活動編號">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"> @t.f活動標題</h5>
                                        <p class="card-text">@t.f活動內容</p>
                                        <p class="card-text">揪團者: @t.tMember.f會員名稱</p>
                                        <p class="card-text">
                                            <small class="text-muted">@t.f活動結束時間</small>
                                        </p>
                                        <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = t.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="profile-follower tab_info" id="Follower">
                    <h1>追蹤團主</h1>
                    @foreach (tActivity t in Model.tActivities)
                    {
                        <div class="card mb-3" style="max-width: 800px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/images/@x.f會員大頭貼" class="card-img" alt="@x.f會員名稱">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@x.f會員名稱</h5>
                                        <p class="card-text">@x.f會員自我介紹</p>
                                        <a class="nav-item">@Html.ActionLink("來去看看", "otherprofile", "Profile", new { id = t.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="profile-history tab_info" id="history">
                    <h1>歷史紀錄</h1>
                    @foreach (tActivity t in Model.tActivities)
                    {
                        <div class="card mb-3" style="max-width: 800px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="~/Content/images/@t.f活動團圖" class="card-img" alt="@t.f活動編號">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">揪團者 : @x.f會員名稱</h5>
                                        <p class="card-text">揪團日：@t.f活動發起日期</p>
                                        <p class="card-text">活動開始時間：@t.f活動開始時間</p>
                                        <p class="card-text">活動結束時間：@t.f活動結束時間</p>
                                        <a class="nav-item">@Html.ActionLink("來去看看", "TravelIndex", "Travel", new { id = t.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/IIIProject/profile.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>

</body>

</html>