
@{
    Layout = null;
    //var x = (tMember)Session["member"];
    tMember x = (new dbJoutaEntities()).tMember.FirstOrDefault(y => y.f會員編號 == 19);
    Session["member"] = x;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/profile.css">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid topbanner">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("聯絡我們", "New", "聯絡我們", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                        <li class="nav-item">@Html.ActionLink("關於我們", "About", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        @if (Session["member"] != null)
                        {

                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile")</li>
                            @*<li class="nav-item">
                                    <img src="@ViewData["Img"]" alt="img" width="30" height="30" style="border:2px solid green;" />
                                </li>*@
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {

                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="~/Content/images/@x.f會員大頭貼" alt="" class="">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">@x.f會員名稱</h3>
                <div class="address">
                    <p class="state">New York,</p>
                    <span class="country">USA.</span>
                </div>
            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fas fa-bell"></i>
                    <span class="alert-message"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <div class="main-bd">
            <div class="col-lg-3 left-side">
                <div class="profile-side">
                    <p class="mobile-no">
                        @if (x.f會員手機 == null)
                        {
                            <i class="fa fa-phone"></i> @:09-xxxxxxxx
                        }
                        else
                        {
                            <i class="fa fa-phone"></i>@x.f會員手機
                        }
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope">
                        </i>@x.f會員電子郵件
                    </p>
                    <div class="user-bio">
                        <p class="bio">
                            @x.f會員自我介紹
                        </p>
                    </div>
                    <div class="profile-btn">
                        <button class="chatbtn">
                            <i class="fa fa-comment"></i>
                            Chat
                        </button>
                        <button class="createbtn">
                            <i>@Html.ActionLink("Create", "Create", "Blog", new { }, new { @class = "fa fa-plus temp" })</i>
                        </button>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">@x.f會員評分</h3>
                        <div class="rate">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="no-user"><span>123</span>&nbsp;&nbsp;reviews</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 right-side ml-4">
                <div class="tab_nav">
                    <ul>
                        <li class="user active" onclick="tabs(0)">個人檔案</li>
                        <li class="user" onclick="tabs(1)">我的發文</li>
                        <li class="user" onclick="tabs(2)">參加活動</li>
                        <li class="user" onclick="tabs(3)">關注活動</li>
                        <li class="user" onclick="tabs(4)">追蹤團主</li>
                        <li class="user" onclick="tabs(5)">歷史紀錄</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-detail tab_info">
                        <h1 id="title">個人檔案</h1>
                        <form method="post" action="Profile">
                            <button type="button" class="btn btn-warning">編輯資料</button>
                            <h6 class="profiletag">會員編號</h6>
                            <input type="text" size="50" placeholder="@x.f會員編號" name="account" disabled>
                            <h6 class="profiletag">帳號</h6>
                            <input type="text" size="50" placeholder="@x.f會員帳號" name="passward" disabled>
                            <h6 class="profiletag">密碼</h6>
                            <input type="text" size="50" placeholder="@x.f會員密碼" name="nickname" disabled>
                            <h6 class="profiletag" id="nickname">會員名稱</h6>
                            <input type="text" size="50" name="age" placeholder="@x.f會員名稱">
                            <h6 class="profiletag">年紀</h6>
                            <input type="text" size="50" name="birth">
                            <h6 class="profiletag">生日</h6>
                            <input type="text" size="50" name="interest" placeholder="@x.f會員生日">
                            <h6 class="profiletag">興趣</h6>
                            <input type="text" size="50" name="location" placeholder="@x.f會員興趣">
                            <h6 class="profiletag">自我介紹</h6>
                            <textarea id="intro" rows="5" cols="50" name="introduction">@x.f會員自我介紹</textarea><br>
                            <button type="button" class="btn btn-warning">繳交</button>
                        </form>
                    </div>
                    <div class="profile-posts tab_info">
                        <h1>我的發文</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam animi alias doloribus,
                            dolor necessitatibus reiciendis, magni molestias ut perferendis corrupti assumenda
                            nobis,
                            veritatis eos fugiat nisi quas rem repudiandae neque?
                        </p>
                    </div>
                    <div class="profile-event tab_info">
                        <h1>參加活動</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error voluptatem explicabo
                            voluptate, nisi deserunt magni? Laborum sapiente odit fugit sequi non, illum labore
                            veniam minima eligendi iusto impedit officia voluptatum!
                        </p>
                    </div>
                    <div class="profile-follow tab_info">
                        <h1>關注活動</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam animi alias doloribus,
                            dolor
                            necessitatibus reiciendis, magni molestias ut perferendis corrupti assumenda nobis,
                            veritatis
                            eos fugiat nisi quas rem repudiandae neque?
                        </p>
                    </div>
                    <div class="profile-follower tab_info">
                        <h1>追蹤團主</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam animi alias doloribus,
                            dolor
                            necessitatibus reiciendis, magni molestias ut perferendis corrupti assumenda nobis,
                            veritatis
                            eos fugiat nisi quas rem repudiandae neque?
                        </p>
                    </div>
                    <div class="profile-history tab_info">
                        <h1>歷史紀錄</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam animi alias doloribus,
                            dolor
                            necessitatibus reiciendis, magni molestias ut perferendis corrupti assumenda nobis,
                            veritatis
                            eos fugiat nisi quas rem repudiandae neque?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/profile.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>