@model IIIProject_travel.ViewModel.CMember

@{
    Layout = null;
    var x = (tMember)Session["member"];
    dbJoutaEntities db = new dbJoutaEntities();
}
<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@x.f會員名稱 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/sass/style.css">
    <link rel="stylesheet" href="~/Content/css/profile.css">
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid topbanner">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                    @*改用Url.Action*@
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                @*<div class="navbar-header" id="main">*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*</div>*@
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">

                        <li class="nav-item">@Html.ActionLink("關於我們", "About", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("聯絡我們", "New", "聯絡我們", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                        @if (Session["member"] != null)
                        {


                            <li class="nav-item nav-link nav-login text-dark">@Html.ActionLink("您好，" + x.f會員名稱, "ProfileIndex", "Profile") </li>
                            @*<li class="nav-item">
                                    <img src="@ViewData["Img"]" alt="img" width="30" height="30" style="border:2px solid green;" />
                                </li>*@
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {


                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>

                            <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--main head-->
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                @if (x.f會員大頭貼 != null || x.f會員大頭貼 == "")
                {
                    <img src="~/Content/images/@x.f會員大頭貼" alt="" class="">
                }
                else
                {
                    <img src="~/Content/images/default.jpg" alt="" class="">
                }
                    <form action="/Profile/ProfileIndex" method="post">
                        <i class="fas fa-camera" style="position:absolute;bottom:0;right:0;color:#fff;">
                            <input type="file" name="f會員大頭貼" onchange="kk()"/>
                            <input type="hidden" name="f會員編號" value="@x.f會員編號" />
                        </i>
                        <button id="btn_submit" type="submit" hidden></button>
                    </form>
            </div>
            
            <div class="profile-nav-info">
                <h3 class="user-name">@x.f會員名稱</h3>
                <div class="address">
                    <span class="country">身分:&nbsp;&nbsp;</span>
                    @if (x.isAdmin == false)
                    {
                        <p class="state">使用者</p>
                    }
                    {
                        <p class="state">管理員</p>
                    }
                </div>
            </div>
        </div>
        <div class="main-bd">
            <div class="col-lg
                    else-3 left-side">
                <div class="profile-side">
                    <p class="mobile-no">
                        @if (x.f會員手機 == null)
                        {
                            <i class="fa fa-phone"></i> @:09-xxxxxxxx
                        }
                        else
                        {
                            <i class="fa fa-phone"></i>@x.f會員手機
                        }
                    </p>
                    <p class="user-mail">
                        <i class="fa fa-envelope"></i>@x.f會員電子郵件
                    </p>
                    <div class="user-bio">
                        <p class="bio"> @x.f會員自我介紹</p>
                    </div>
                    <div class="profile-btn">
                        <button class="chatbtn">
                            <i class="fa fa-comment"></i>@Html.ActionLink("Chat", "Chat", "Profile", new { @style = "color:#fff;" })
                        </button>
                        <button class="createbtn">
                            <i class="fa fa-plus temp"></i>@Html.ActionLink("Create", "Create", "Blog", new { @style = "color:#fff;" })
                        </button>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">@x.f會員評分</h3>
                        <div class="rate">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="no-user"><span>@x.f會員評分人數</span>&nbsp;&nbsp;reviews</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 right-side">
                <div class="tab_nav">
                    <ul>
                        <li class="user active" onclick="tabs(0)">個人檔案</li>
                        <li class="user" onclick="tabs(1)">我的發文</li>
                        <li class="user" onclick="tabs(2)">參加活動</li>
                        <li class="user" onclick="tabs(3)">關注活動</li>
                        <li class="user" onclick="tabs(4)">我的開團</li>
                        <li class="user" onclick="tabs(5)">歷史紀錄</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <div class="profile-detail tab_info">
                        <h2 id="title">個人檔案</h2>
                        <form method="post" action="~/Profile/Save">
                            <button id="btn" type="button" class="btn btn-warning">編輯資料</button>
                            @if (ViewBag.msg == "資料修改成功")
                            {
                                <div class="alert alert-success">
                                    @ViewBag.msg
                                </div>
                            }
                            <h6 class="profiletag">信箱</h6>
                            <input type="email" size="50" value="@Model.tMembers.f會員電子郵件" name="txtEmail" disabled>

                            <h6 class="profiletag">密碼</h6>
                            <input type="password" size="50" value="@Model.tMembers.f會員密碼" name="txtPassword" disabled>

                            <h6 class="profiletag">會員名稱</h6>
                            <input type="text" class="txtNickName" name="txtNickName" disabled size="50" value="@Model.tMembers.f會員名稱">

                            <h6 class="profiletag">生日</h6>
                            <input type="date" class="txtBirth" size="50" name="txtBirth" disabled value="@Model.tMembers.f會員生日">

                            <h6 class="profiletag">興趣</h6>
                            <input type="text" class="txtHobby" size="50" name="txtHobby" disabled value="@Model.tMembers.f會員興趣">

                            <h6 class="profiletag">自我介紹</h6>
                            <textarea class="intro" rows="5" cols="50" name="txtIntro" disabled>@Model.tMembers.f會員自我介紹</textarea><br>
                            <div id="sth"></div>

                        </form>

                    </div>
                </div>

                <div class="profile-posts tab_info" id="myPost">
                    <h2 id="title">@Model.tMembers.f會員名稱 的發文</h2>
                    @{ //擷取會員發過文章編號，並對應
                        var post = db.tMember.Where(a => a.f會員編號 == Model.tMembers.f會員編號).Select(b => b.f會員發起的活動編號).FirstOrDefault();

                        if (string.IsNullOrEmpty(post))
                        {
                            <p id="theTabContent">目前無發文紀錄</p>

                            <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                            <g>
                            <path class="wave" fill="#00779b" d="M0,0" />



                            <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                            <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                            <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>

                        }
                        else
                        {
                            string[] words = post.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var post_item = db.tActivity.Where(c => c.f活動編號.ToString() == i && c.f活動類型 == "文章").FirstOrDefault();
                                    if (post_item == null)
                                    {
                                        <p id="theTabContent">目前無發文紀錄</p>
                                        <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                                        <g>
                                        <path class="wave" fill="#00779b" d="M0,0" />



                                        <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                                        <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                             y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                                        <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>
                                        goto label;
                                    }
                                    else
                                    {
                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="~/Content/images/@post_item.f活動團圖" class="card-img" alt="@post_item.f活動編號">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@post_item.f活動標題</h5>
                                                        <p class="card-text content">@Html.Raw(post_item.f活動內容)</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Posted on @post_item.f活動發起日期</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            label:;

                        }
                    }
                </div>

                <div class="profile-event tab_info" id="myActivity">
                    <h2 id="title">參加的活動</h2>
                    @{
                        var join = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員參加的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(join))
                        {
                            <p id="theTabContent">目前無參加活動</p>
                            <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                            <g>
                            <path class="wave" fill="#00779b" d="M0,0" />



                            <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                            <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                            <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>
                        }
                        else
                        {
                            string[] words = join.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var join_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-8 activityadjust">
                                                <div class="card-body" style="text-align:center">
                                                    <h5 class="card-title"> @join_item.f活動標題</h5>
                                                    <p class="card-text content">@Html.Raw(join_item.f活動內容)</p>
                                                    揪團者 :
                                                    <span style="cursor: pointer;">@join_item.tMember.f會員名稱</span>
                                                    <p class="card-text">
                                                        <small class="text-muted">@join_item.f活動開始時間</small>
                                                    </p>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">來去看看</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="~/Content/images/@join_item.f活動團圖" class="card-img activityphoto" alt="@join_item.f活動編號">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    }
                </div>

                <div class="profile-follow tab_info" id="myFollow">
                    <h2 id="title">關注活動</h2>
                    @{
                        var favorite = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員收藏的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(favorite))
                        {
                            <p id="theTabContent">目前無關注活動</p>
                            <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                            <g>
                            <path class="wave" fill="#00779b" d="M0,0" />



                            <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                            <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                            <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>
                        }
                        else
                        {
                            string[] words = favorite.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var favorite_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@favorite_item.f活動團圖" class="card-img" alt="@favorite_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @favorite_item.f活動標題</h5>
                                                    <p class="card-text content">@Html.Raw(favorite_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @favorite_item.tMember.f會員名稱</p>
                                                    <div class="row justify-content-between">
                                                        <p class="card-text">
                                                            <small class="text-muted">@favorite_item.f活動結束時間</small>
                                                        </p>
                                                        <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = favorite_item.f活動編號 }, new { @class = "btn btnContent btn-warning" })</a>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>

                <div class="profile-mygroup tab_info" id="mygroup">
                    <h2 id="title">@x.f會員名稱 的開團</h2>
                    @{
                        var make = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => b.f會員發起的活動編號).FirstOrDefault();
                        if (string.IsNullOrEmpty(make))
                        {
                            <p id="theTabContent">目前無開團紀錄</p>
                            <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                            <g>
                            <path class="wave" fill="#00779b" d="M0,0" />







                            <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />







                                </g>
                            </svg>
                            <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                            <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />







                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />







                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />







                                </g>
                            </svg>
                        }
                        else
                        {
                            string[] words = make.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var make_item = db.tActivity.Where(c => c.f活動編號.ToString() == i && c.f活動類型 != "文章").FirstOrDefault();
                                    if (make_item == null)
                                    {
                                        <p>目前無開團紀錄</p>
                                        <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                                        <g>
                                        <path class="wave" fill="#00779b" d="M0,0" />



                                        <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                                        <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                             y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                                        <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>
                                    }
                                    else
                                    {
                                        <div class="card mb-3" style="max-width: 800px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="~/Content/images/@x.f會員大頭貼" class="card-img" alt="@x.f會員名稱">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@make_item.f活動標題</h5>
                                                        <p class="card-text content">@Html.Raw(make_item.f活動內容)</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Posted on @make_item.f活動發起日期</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </div>

                <div class="profile-history tab_info" id="history">
                    <h2 id="title">歷史紀錄</h2>
                    @{
                        var history = db.tMember.Where(a => a.f會員編號 == x.f會員編號).Select(b => new
                        {
                            post = b.f會員發起的活動編號,
                            join = b.f會員參加的活動編號
                        }).FirstOrDefault();
                        if (!string.IsNullOrEmpty(history.join) && !string.IsNullOrEmpty(history.post))
                        {
                            string[] words1 = history.join.Split(',');
                            string[] words2 = history.post.Split(',');
                            string[] unit = words1.Union(words2).ToArray();  //合併陣列，並去除相同項目
                            foreach (var i in unit)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var history_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@history_item.f活動團圖" class="card-img" alt="@history_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @history_item.f活動標題</h5>
                                                    <p class="card-text content">@Html.Raw(history_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @history_item.tMember.f會員名稱</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">@history_item.f活動結束時間</small>
                                                    </p>
                                                    <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = history_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else if (string.IsNullOrEmpty(history.join) && !string.IsNullOrEmpty(history.post))
                        {
                            string[] words = history.post.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var unit_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@unit_item.f活動團圖" class="card-img" alt="@unit_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @unit_item.f活動標題</h5>
                                                    <p class="card-text content">@Html.Raw(unit_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @unit_item.tMember.f會員名稱</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">@unit_item.f活動結束時間</small>
                                                    </p>
                                                    <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = unit_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else if (!string.IsNullOrEmpty(history.join) && string.IsNullOrEmpty(history.post))
                        {
                            string[] words = history.join.Split(',');
                            foreach (var i in words)
                            {
                                if (string.IsNullOrEmpty(i))
                                {
                                    continue;
                                }
                                else
                                {
                                    var unit_item = db.tActivity.Where(c => c.f活動編號.ToString() == i).FirstOrDefault();
                                    <div class="card mb-3" style="max-width: 800px;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="~/Content/images/@unit_item.f活動團圖" class="card-img" alt="@unit_item.f活動編號">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title"> @unit_item.f活動標題</h5>
                                                    <p class="card-text content">@Html.Raw(unit_item.f活動內容)</p>
                                                    <p class="card-text">揪團者: @unit_item.tMember.f會員名稱</p>
                                                    <p class="card-text">
                                                        <small class="text-muted">@unit_item.f活動結束時間</small>
                                                    </p>
                                                    <a class="nav-item">@Html.ActionLink("Read More", "TravelIndex", "Travel", new { id = unit_item.f活動編號 }, new { @class = "btn btnContent  btn-warning" })</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <p id="theTabContent">目前無歷史紀錄</p>
                            <svg version="1.1" id="wave1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="auto" height="200px" viewBox="0 0 1200 200" enable-background="new 0 0 1200 200" xml:space="preserve">
                            <g>
                            <path class="wave" fill="#00779b" d="M0,0" />



                            <path class="wave2" fill="rgba(80,200,235,.6)" d="M0,0" />



                                </g>
                            </svg>
                            <svg class="duck" version="1.1" id="Selected_Items" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                 y="0px" width="550px" height="200px" viewBox="0 0 550 400" enable-background="new 0 0 550 400" xml:space="preserve">
                            <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFE00" d="M133.45,136.5c2.033-0.967,3.05-2.633,3.05-5
		c-0.033-15-4.05-28-12.05-39c0-0.333,0.017-0.667,0.05-1c1.367-9.4-0.983-15.067-7.05-17c0-0.333,0-0.667,0-1
		c6.533-30.8,26.517-48.3,59.95-52.5c0.033,0,0.05-0.167,0.05-0.5c7,0,14,0,21,0c0.333,0,0.667,0,1,0
		c24.333,3.667,41.883,14.067,52.65,31.2c3.767,6,6.35,12.7,7.75,20.1c5.533,29,1.4,51.567-12.4,67.7c0.667,1,1.4,1.55,2.2,1.65
		c19.467,2.667,37.367,0.05,53.7-7.85c5.334-2.6,9.617-6.167,12.851-10.7c8.133-11.434,18.217-20.8,30.25-28.1
		c1.8-0.467,3.017-0.467,3.649,0c24.7,16.533,39.667,42.833,44.9,78.9c4.033,28,1.75,52.466-6.85,73.4
		c-8.834,21.434-22.084,38.434-39.75,51C331.033,310.2,309,317.566,282.3,319.9c-61.566,5.399-113.383-0.917-155.45-18.95
		c-31.667-13.566-46.467-43.717-44.4-90.45c3.9-30.767,19.417-50.267,46.55-58.5c0.5-0.133,1.083-0.533,1.75-1.2
		c0.667-0.667,1.567-1.1,2.7-1.3c0-4,0-8,0-12C133.45,137.167,133.45,136.833,133.45,136.5z M193.45,90.5
		c-0.333,0-0.65-0.05-0.95-0.15c-11.367-4.067-19.05-1.35-23.05,8.15c0,0.333-0.017,0.667-0.05,1c-0.5,6.867,0.85,11.867,4.05,15
		c0.333,0,0.633,0.067,0.9,0.2c8.3,4.466,15.667,3.733,22.1-2.2c0-0.333,0.05-0.65,0.15-0.95
		C199.8,103.283,198.75,96.267,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#0B0B00" d="M193.45,90.5c5.3,5.767,6.35,12.783,3.15,21.05
		c-0.1,0.3-0.15,0.617-0.15,0.95c-6.434,5.933-13.8,6.667-22.1,2.2c-0.267-0.133-0.567-0.2-0.9-0.2c-3.2-3.133-4.55-8.133-4.05-15
		c0.033-0.333,0.05-0.667,0.05-1c4-9.5,11.683-12.217,23.05-8.15C192.8,90.45,193.117,90.5,193.45,90.5z" />



                            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FF8D10" d="M133.45,136.5c-0.333,0-0.667-0.017-1-0.05
		c-31.667-4.633-52.667-19.95-63-45.95c0-0.333,0-0.667,0-1c0-1,0-2,0-3c7.433-3.167,15.767-4.483,25-3.95
		c11,0.633,18.667-2.05,23-8.05c6.066,1.933,8.417,7.6,7.05,17c-0.033,0.333-0.05,0.667-0.05,1c8,11,12.017,24,12.05,39
		C136.5,133.867,135.483,135.533,133.45,136.5z" />



                                </g>
                            </svg>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="~/Scripts/IIIProject/profile.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script src="~/Scripts/IIIProject/duck.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {

                if ($("#sth").innerHeight() == 0) {
                    $('.txtNickName').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.txtBirth').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.txtHobby').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $('.intro').removeAttr('disabled').attr('style', 'background-color:#ffeedd;');
                    $("#sth").append(`
                                                <button type="submit" class="btn btn-primary subBtn">送出</button>
                                                <button type="reset" class="btn btn-warning cancelBtn">取消</button>
                                            `);
                }

                $('.cancelBtn').click(function () {
                    $('.txtNickName').attr('disabled', 'disabled').removeAttr('style');
                    $('.txtBirth').attr('disabled', 'disabled').removeAttr('style');
                    $('.txtHobby').attr('disabled', 'disabled').removeAttr('style');
                    $('.intro').attr('disabled', 'disabled').removeAttr('style');
                    $('.subBtn').remove();
                    $('.cancelBtn').remove();
                })
            });
        });
    </script>

    <script>
        function kk() {
            setTimeout(($('#btn_submit').click()), 1000);
            
        }
    </script>
</body>

</html>