@{
    Layout = null;
}
@Styles.Render("~/Content/css/關於我們.css")
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於 | Jouta</title>
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/關於我們.css")
</head>

<body class="b2">

    <div class="container-fluid">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="main.html">
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "List", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @*@if (Session["member"] != null)
                            {
                                <li class="nav-item nav-link nav-login text-dark">觀迎 @x.f會員名稱 </li>
                                <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                            }
                            else*@
                        @*{*@
                        <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                        @*}*@
                        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active x">
                <img src="~/Content/images/0001.jpg" class="d-block imgslide" alt="...">
            </div>
            <div class="carousel-item x">
                <img src="~/Content/images/0002.png" class="d-block imgslide" alt="...">
            </div>
        </div>
    </div>
    <div class="t1 fadeIn">
        <h2>用心服務 用情導遊</h2>
        <p>東南旅遊成立於民國50年，總公司位於台北精華地段，成功開拓海內外分公司，據點遍及中國、日本和美國，以提供消費者最方便的旅遊諮詢。</p>
        <p>成立以來一直秉持「用心服務 用情導遊」的理念，服務每一位參加的旅客，建立起東南旅遊的好口碑。</p>
        <p>五十幾年來精英團隊的努力，專業態度和資深實力，備受各界的好評，</p>
        <p>使國人一提到旅遊，就想到「東南旅遊」；傲眼的成績讓「東南旅遊」成為台灣最大、最具規模的旅行社。</p>
    </div>

    <div class="container t2 shadow-lg p-3 mb-5 rounded">
        <div class="row">
            <hr>
            <div>
                <div class="block">
                    <img src="~/Content/images/contact2.jpg" class="card-img-top img1 align-left slide-in" alt="">

                    <h2>
                        公司介紹
                        <span class="text-muted"></span>
                    </h2>
                    <p>
                        《食我餐飲顧問股份有限公司》是一個成立自2014年的新創公司，致力於透過網路科技創新應用服務，「創造更美好的用餐體驗」。
                        分別於2014年與2016年完成種子與天使輪投資，分別來自於聯合報系與多位業界知名天使投資人。
                        公司主要的產品為自2016年上線就獲得廣大好評的聚餐交友 APP《Eatgether》以及自2015年上線至今的餐廳優惠APP《EatMe食我》。
                        在餐廳裡享受美食、聊天是大家熟習的場景，也是信任感最容易建立的地方。因此Eatgether的思考並不像現在許多社交服務是以約會、交友做為目的，而是創造主題、氛圍讓人直接見面認識。
                        讓聚會成為媒介，串連各式各樣的關係，用一頓飯，創造一段新關係。
                    </p>
                </div>


            </div>

            <hr>
            <div>
                <div class="block d-flex">
                    <div>
                        <h2>
                            Communication
                            <span class="text-muted"></span>
                        </h2>
                        <p>
                            溝通，溝通，再溝通
                            "過度溝通"(over
                            communication)，是我們的口頭禪。統計發現，企業天天在解決的問題當中，大部分都是源自於沒有溝通好。組織裡十件紛爭中七件跟事情本身沒有絕對關係，而是專案裡成員之間缺少充分的傳達，這些溝通死角就衍生成各種問題。在
                            EZTABLE，我們會嚴格分析每一位成員的溝通能力是否得到其他隊友的肯定，給團隊 “我懂你，你也懂我" 的安全感。
                        </p>
                    </div>
                    <img src="~/Content/images/contact3.jpg" class="card-img-top img2  align-right slide-in" alt="">

                </div>
            </div>
            <hr>
            <div class="">
                <div class="block">
                    <img src="~/Content/images/contact4.jpg" class="card-img-top img1 align-left slide-in" alt="">
                    <h2>
                        創新
                        <span class="text-muted"></span>
                    </h2>
                    <p>
                        努力不懈創造各種國內外客製化行程與獨家旅遊體驗；主題團旅、背包客、自由行、親子、樂齡、蜜月、閨密、畢業旅行、商務、渡假會議、員旅、公司獎勵、包團、包機...各種旅遊服務一應具全。
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="t4">
        <div class="">
            <div class="row">
                <div class="col-sm " style="text-align:center;">
                    <img src="~/Content/images/gps.png" alt="" width="200">
                    <h2>服務據點</h2>
                </div>
                <div class="col-sm">
                    <h4>金門皇家酒廠股份有限公司</h4>
                    <h5>台北公司</h5>
                    <p>服務專線：(02)2567-7855</p>
                    <p>公司地址：104 台北市中山區中山北路二段60號12樓</p>

                    <h5>金門觀光工廠</h5>
                    <p>服務專線：(082)334930</p>
                    <p>公司地址：金門縣金湖鎮三谿橋17號</p>

                </div>
                <div class="col-sm">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d451.87677556423307!2d121.54223716417057!3d25.033592010376523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebc869e0c2ec26b9!2sDigital%20Talent%20Cultivation%20Center!5e0!3m2!1szh-TW!2stw!4v1596380207669!5m2!1szh-TW!2stw"
                            width="500" height="500" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>

                </div>
            </div>
        </div>

    </div>
    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">Copyright © 2020 Jouta All rights reserved</p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/js/navbar.js"></script>
    <script src="~/Content/js/debounce.js"></script>
</body>
</html>