
@{
    Layout = null;
    string s1 = ViewBag.CODE.Substring(0, 1) + ".png";
    string s2 = ViewBag.CODE.Substring(1, 1) + ".png";
    string s3 = ViewBag.CODE.Substring(2, 1) + ".png";
    string s4 = ViewBag.CODE.Substring(3, 1) + ".png";
    var x = (tMember)Session["member"];
}

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入 | Jouta</title>
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/login_home.css")
</head>

<body>

    <div class="container-fluid">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" id="main">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="@Url.Action("Home","Home")">
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink("首頁", "Home", "Home", new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "Eat", "Home", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "Index", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        @if (Session["member"] != null)
                        {
                            <li class="nav-item nav-link nav-login text-dark">觀迎 @x.f會員名稱 </li>
                            <li class="nav-item">@Html.ActionLink("登出", "Home", "Home", new { id = 0 }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                        }
                        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="background">
        <!-- 註冊box -->
        <div id="login-box">
            <div class="left">
                <h2>登入</h2>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        帳號
                        <input type="text" hint="關鍵字" name="txtAccount" class="form-control" id="txtAccount" onblur="check()" />
                        密碼
                        <input type="text" hint="關鍵字" name="txtPassword" class="form-control" id="txtPassword" onblur="check()" />
                        驗證碼
                        <input type="text" hint="關鍵字" name="txtCode" class="form-control" />
                        <img src="~/Content/images/@s1" alt="Alternate Text" />
                        <img src="~/Content/images/@s2" alt="Alternate Text" />
                        <img src="~/Content/images/@s3" alt="Alternate Text" />
                        <img src="~/Content/images/@s4" alt="Alternate Text" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <input id="go" type="submit" class="btn btn-default" value="登入" />
                    </div>
                </div>
            </div>

            <div class="right">
                <span class="loginwith">Sign in with<br />social network</span>

                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google">Log in with Google+</button>
            </div>
            <div class="or">OR</div>
        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">&copy; @DateTime.Now.Year Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>
    <script>
        $("#go").click(function () {
            $.ajax({
                url: "/Home/"
            });

        });
    </script>
</body>

</html>
