@model IEnumerable<t聯絡我們>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聯絡我們 | Jouta</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/聯絡我們.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">


</head>

<body>
    <div class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light header" id="main">
            <div class="container">
                <a class="navbar-brand" href="main.html">
                    <img src="~/Content/images/joutalogo_black.png" alt="" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("首頁", "Home", "Home", new { }, new { @class = "nav-link nav-main text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找飯局", "EatIndex", "Eat", new { }, new { @class = "nav-link nav-eat text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找旅遊", "TravelIndex", "Travel", new { }, new { @class = "nav-link nav-travel text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("找文章", "List", "Blog", new { }, new { @class = "nav-link nav-blog text-dark" })</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">@Html.ActionLink("登入", "LoginIndex", "Login", new { }, new { @class = "nav-link nav-login text-dark" })</li>
                        <li class="nav-item">@Html.ActionLink("註冊", "Register", "Home", new { }, new { @class = "nav-link nav-register text-dark" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Page Content -->
    <div class="mt-5"></div>
    <h2>聯絡我們</h2>
    <form method="post" action="~/聯絡我們/s儲存">
        <p style="text-align: center">我們十分重視您的寶貴意見與問題，我們將竭誠儘速為您服務</p>


        <div class="container" style="margin-bottom: 5rem;">

            <fieldset>
                <legend><img src="~/Content/images/letter.jpg" class="imgLetter" alt="" width="100"></legend>
                <div class="st1">
                    <div class="op">
                        <select name="txt意見類型">
                            <option value="">請選擇</option>
                            <option>旅遊意見</option>
                            <option>飯局意見</option>
                            <option>文章意見</option>
                            <option>其他意見</option>
                        </select>
                    </div>

                    <div class="st1">
                        <div class="st2">
                            <label for="" class="t1">會員帳號：</label>
                            <input id="帳號" name="txt會員帳號" size="40" autofocus onblur="c檢查帳號()">
                            <span id="idac"></span>
                        </div>
                    </div>

                    <div>
                        <div class="st1">
                            <div class="st2">
                                <label class="t1" for="account1">聯絡人：</label>
                                <input id="聯絡人" name="txt聯絡人" size="20" width="" onblur="c檢查聯絡人()">

                                <input type="radio" name="gender"><label>先生</label>
                                <label>
                                    <input type="radio" name="gender">女士
                                </label>
                                <span id="idcp"></span>
                            </div>

                        </div>

                    </div>
                    <div class="st1">
                        <div class="st2">
                            <label for="" class="t1">電子郵件：</label>
                            <input id="mail" type="email" name="txt電子郵件" size="40" onblur="c檢查mail">
                            <span id="idmail"></span>
                        </div>
                    </div>
                    <div class="st1">
                        <div class="st2">
                            <label for="" class="t1">電話：</label>
                            <input id="電話" name="txt電話" size="40" onblur="c檢查電話()">
                            <span id="idtal"></span>

                        </div>

                    </div>

                    <div class="st1">
                        <div class="st2">
                            <label class="t1" for="comment1">意見：</label>
                            <textarea id="意見" cols="40" rows="5" name="txt意見" onblur="c檢查意見()"></textarea>
                            <span id="idop"></span>
                        </div>
                    </div>
                    <div class="sub">
                        <input type="submit" value="送出">
                        <input type="reset" value="清除">
                    </div>
            </fieldset>
            <p class="pb">本信箱的郵件處理時間為一般工作日上午 8 點 30 分至下午 5 點 30 分</p>
        </div>

    </form>

    <!-- footer -->
    <div class="container-fluid footer">
        <p class="text-center mt-2 mb-2">&copy; @DateTime.Now.Year Jouta All rights reserved</p>
    </div>

    <!-- script -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/IIIProject/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="~/Scripts/IIIProject/navbar.js"></script>

</body>

</html>